source https://api.nuget.org/v3/index.json
framework: net10.0
storage: none

nuget FSharp.Core ~> 10.1
nuget Fable.Core
nuget Fable.React
nuget Fable.Remoting.Client
nuget Fable.Remoting.Giraffe
nuget Feliz < 3 # Feliz.Router is not yet compatible with Feliz 3, see https://github.com/Zaid-Ajaj/Feliz.Router/pull/72
nuget Feliz.DaisyUI
nuget Feliz.Router
nuget Feliz.UseElmish
nuget Feliz.CompilerPlugins < 3
nuget FSharp.SystemTextJson
nuget FsToolkit.ErrorHandling.TaskResult
nuget Giraffe
nuget Giraffe.GoodRead
nuget Glutinum.Feliz.Iconify
nuget Glutinum.IconifyIcons.Fa6Solid
nuget Microsoft.Extensions.Http
nuget NetArchTest.eNhancedEdition
nuget NSubstitute
nuget TUnit.Assertions.FSharp
nuget TUnit.FsCheck
nuget Unquote

group Build
    source https://api.nuget.org/v3/index.json
    framework: net10.0
    storage: none

    nuget FSharp.Core ~> 10.1
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli